.navbar-default {
  border: 0;
  margin-bottom: 0;

  .container {
    padding: 0 70px;

    .navbar-header {

      .navbar-brand {
        padding: 10px 10px 65px 60px;

        img {
          max-width: 300px;
        }// img
      }// navbar-brand
    }// navbar-header

    .navbar-collapse {

      .navbarButton {
        float: none;
        font-weight: bold;
        border: 0;
        margin: 22px 30px 10px 50px;
      }// navbarButton

      ul {
        float: right;
        padding-top: 10px;
        font-weight: 300;
      }// ul

    }// navbar-collapse

    .colorLine:empty {
      content: "";
      @include bgimg("../images/color-line.svg");
      height: 5px;
    }// colorLine
  }// container
}// navbar-default
