.about {
  text-align: center;

  h2 {
    font-size: 4rem;
    padding: 40px;
  }// h2

  .detailsAbout {
    padding: 0 190px;

    p {
      padding-bottom: 15px;

      &:nth-last-child(1) {
        padding-bottom: 100px;
      }// nth-child
    }// p
  }// detailsAbout
}// about
