.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  @include bgimg("../builds/images/bg-hero.png", center center, cover);
  min-height: 575px;

  .container {
    padding: 0 70px;


    p {
      margin-top: 80px;
      color: $white;
    }// p

    .button {
      margin-top: 25px;

      a {
        font-size: 1.5rem;
        font-weight: 300;
        margin-right: 25px;
        border-radius: 50px;

        &:nth-child(2) {
          margin-right: 0;
        }// nth-child
      }// a

      .togglereadMore {
        background: $red;

        &:hover {
          background: $smoke;
          color: $red;
          transition: all .3s ease-out;
        }// hover
      }// togglereadMore

      .toggleAgenda {
        background: $green;

        &:hover {
          background: $smoke;
          color: $green;
          transition: all .3s ease-out;
        }// hover
      }// toggleAgenda
    }//button

    img {
      margin: 0 auto;
    }// img
  }// container
}// hero

#heroAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  @include bgimg("../builds/images/bg-about.jpg", center center, cover);
  min-height: 575px;
}
