.portfoliosList {
  float: left;
  width: 65%;

  .title {
    background: $blue;
    color: $white;
    margin-bottom: 20px;

    h2 {
      padding: 15px 0 15px 30px;
    }// h2
  }// title

  .portfolios {
    padding: 10px 0;
    text-align: center;

    .pagination {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 30px 0 25px 0;
    }// pagination
  }// portfolios
}// portfoliosList
