aside {
  float: right;
  width: 33.5%;

  .agendasList {

    .title {
      background: $green;
      color: $white;
      margin-bottom: 20px;

      h2 {
        padding: 15px 0;
        text-align: center;
      }// h2
    }// title

    .agendas {
      padding: 0 15px;

      .agenda {
        @include clearfix;
        padding: 10px 0;
        border-bottom: 1px dotted $green;

        img {
          float: left;
          width: 80px;
          margin-right: 10px;
        }// img
      }// agenda
    }//agendas
  }// agendasList
}// aside
