footer {
  padding: 25px 0 17px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: $black;
  color: $white;

  .container {
    font-weight: 300;
    font-size: 1.5rem;

    p {
      float: left;
    }// p

    .pright {
      float: right;
    }// pright
  }// container
}// footer
