.navbar-default {
  border: 0;
  margin-bottom: 0;

  .container {
    padding: 0 55px;

    .navbar-header {

      .navbar-brand {
        padding: 10px 10px 65px 55px;

        img {
          max-width: 300px;
        }// img
      }// navbar-brand
    }// navbar-header

    .navbar-collapse {

      .navbarButton {
        margin: 22px 30px 10px 50px;

      &:hover {

        svg {

          g {
            fill: $blue;
            transition-duration: .3s
          }
        }
      }

      }// navbarButton

      ul {
        float: right;
        padding-top: 10px;
        font-weight: 300;
      }// ul

    }// navbar-collapse


  }// container
  .colorLine:empty {
    width: 100%;
    content: "";
    @include bgimg("../builds/images/color-line.svg");
    height: 5px;
  }// colorLine
}// navbar-default
