@import url("https://fonts.googleapis.com/css?family=Poppins:300,400|Raleway:100,300,400|Roboto:100,300,400");
body {
  width: 100%;
  background: #f7f7f7;
  font-family: "Roboto", sans-serif;
}

h2 {
  margin: 0;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
}

.hiddenContent {
  top: 0;
  position: absolute;
  visibility: hidden;
}

.fa-square {
  color: #0088CC;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-danger {
  border: 0;
  outline: none;
}

.paginations {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0 25px 0;
}

.navbar-default {
  border: 0;
  margin-bottom: 0;
}

.navbar-default .container {
  padding: 0 55px;
}

.navbar-default .container .navbar-header .navbar-brand {
  padding: 10px 10px 65px 55px;
}

.navbar-default .container .navbar-header .navbar-brand img {
  max-width: 300px;
}

.navbar-default .container .navbar-collapse .navbarButton {
  margin: 22px 30px 10px 50px;
}

.navbar-default .container .navbar-collapse .navbarButton:hover svg g {
  fill: #0088CC;
  transition-duration: .3s;
}

.navbar-default .container .navbar-collapse ul {
  float: right;
  padding-top: 10px;
  font-weight: 300;
}

.navbar-default .colorLine:empty {
  width: 100%;
  content: "";
  background: url("../images/color-line.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  height: 5px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../builds/images/bg-hero.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 575px;
}

.hero .container {
  padding: 0 70px;
}

.hero .container p {
  margin-top: 80px;
  color: #ffffff;
}

.hero .container .button {
  margin-top: 25px;
}

.hero .container .button a {
  font-size: 1.5rem;
  font-weight: 300;
  margin-right: 25px;
  border-radius: 50px;
}

.hero .container .button a:nth-child(2) {
  margin-right: 0;
}

.hero .container .button .togglereadMore {
  background: #cb2222;
}

.hero .container .button .togglereadMore:hover {
  background: #f7f7f7;
  color: #cb2222;
  transition: all .3s ease-out;
}

.hero .container .button .toggleAgenda {
  background: #34a853;
}

.hero .container .button .toggleAgenda:hover {
  background: #f7f7f7;
  color: #34a853;
  transition: all .3s ease-out;
}

.hero .container img {
  margin: 0 auto;
}

main {
  margin: 0 auto;
  padding-bottom: 50px;
  background: #ffffff;
  width: 80%;
}

main:before, main:after {
  content: "";
  display: table;
}

main:after {
  clear: both;
}

.programmersList {
  text-align: center;
}

.programmersList h2 {
  padding-top: 40px;
  font-size: 3rem;
}

.programmersList .programmers {
  padding: 50px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.programmersList .programmers figure img {
  max-width: 155px;
}

.programmersList .programmers figure figcaption {
  padding: 10px 0;
  font-weight: 300;
}

.programmersList .programmers a {
  padding-top: 25px;
}

.programmersList .programmers a img {
  max-width: 150px;
}

.programmersList .programmers .button a svg:hover g {
  fill: #0088CC;
  transition-duration: .3s;
}

.colorLine:empty {
  width: 100%;
  content: "";
  background: url("../images/color-line.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
  height: 5px;
}

.moreProgrammersList .row {
  padding: 0 15px;
}

.moreProgrammersList .row figure {
  padding: 20px 0;
  border-top: 1px dotted #34a853;
}

.moreProgrammersList .row figure:before, .moreProgrammersList .row figure:after {
  content: "";
  display: table;
}

.moreProgrammersList .row figure:after {
  clear: both;
}

.moreProgrammersList .row figure img {
  padding-top: 2px;
}

.moreProgrammersList .row figure figcaption .status {
  float: right;
  margin: 0;
}

.moreProgrammersList .row figure figcaption .status .fa {
  padding-left: 10px;
}

.moreProgrammersList .row figure figcaption .status .busy {
  color: #cb2222;
}

.moreProgrammersList .row figure figcaption .status .available {
  color: #fbbc05;
}

.moreProgrammersList .row figure figcaption h3 {
  margin: 0;
}

.moreProgrammersList .row figure figcaption h3, .moreProgrammersList .row figure figcaption h4 {
  font-family: "Raleway", sans-serif;
}

.moreProgrammersList .row figure figcaption p {
  font-weight: 300;
  line-height: 18px;
}

.moreProgrammersList .row figure figcaption span img {
  width: 100px;
  padding: 0;
}

.moreProgrammersList .row figure figcaption .detailProgrammer h4 {
  line-height: 3px;
  padding-top: 12px;
}

.moreProgrammersList .row figure figcaption .detailProgrammer p {
  line-height: normal;
}

.filterProgrammers {
  background: #34a853;
  padding: 5px 25px;
  color: #ffffff;
}

.filterProgrammers .row {
  display: flex;
  align-items: center;
}

.filterProgrammers .row .form-group {
  margin: 15px 0 20px 0;
}

.filterProgrammers .row p {
  float: right;
}

.filterProgrammers .row p a {
  text-decoration: none;
  color: #ffffff;
}

.portfoliosList {
  float: left;
  width: 65%;
}

.portfoliosList .title {
  background: #0088CC;
  color: #ffffff;
  margin-bottom: 20px;
}

.portfoliosList .title h2 {
  padding: 15px 0 15px 30px;
}

.portfoliosList .portfolios {
  padding: 10px 0 10px 15px;
  text-align: center;
}

.portfoliosList .portfolios .portfolio {
  position: relative;
  overflow: hidden;
  text-align: left;
  line-height: 1.2em;
  margin-bottom: 15px;
}

.portfoliosList .portfolios .portfolio figcaption {
  position: absolute;
  bottom: -1%;
  width: 100%;
  transform: translateY(100%);
  padding: 10px 20px 15px 20px;
  background-color: #0088CC;
  transition-delay: 0.3s;
  color: #ffffff;
}

.portfoliosList .portfolios .portfolio figcaption h3,
.portfoliosList .portfolios .portfolio figcaption p {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 0;
  transition-delay: 0.3s;
}

.portfoliosList .portfolios .portfolio figcaption h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
}

.portfoliosList .portfolios .portfolio figcaption p {
  font-weight: 300;
  font-size: 1.4rem;
}

.portfoliosList .portfolios .portfolio figcaption a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.portfoliosList .portfolios .portfolio *,
.portfoliosList .portfolios .portfolio *:before,
.portfoliosList .portfolios .portfolio *:after {
  box-sizing: border-box;
  transition: all 0.25s linear;
}

.portfoliosList .portfolios .portfolio:hover img {
  transform: translateY(-40px);
}

.portfoliosList .portfolios .portfolio:hover figcaption,
.portfoliosList .portfolios .portfolio:hover h3,
.portfoliosList .portfolios .portfolio:hover p {
  transform: translateY(0);
  opacity: 1;
}

.portfoliosList .portfolios .portfolio:hover figcaption {
  transition-delay: 0s;
  border: 0;
}

.portfoliosList .portfolios .portfolio:hover figcaption h3 {
  transition-delay: 0.3s;
}

.portfoliosList .portfolios .portfolio:hover figcaption p {
  transition-delay: 0.45s;
  opacity: 0.5;
  line-height: 10px;
}

.portfoliosList .portfolios .col-sm-4 {
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.address {
  width: 100%;
}

.address .map {
  width: 100%;
  height: 275px;
}

aside {
  float: right;
  width: 33.5%;
}

aside .agendasList .title {
  background: #34a853;
  color: #ffffff;
  margin-bottom: 20px;
}

aside .agendasList .title h2 {
  padding: 15px 0;
  text-align: center;
}

aside .agendasList .agendas {
  padding: 0 15px;
}

aside .agendasList .agendas .agenda {
  padding: 10px 0;
  border-bottom: 1px dotted #34a853;
}

aside .agendasList .agendas .agenda:before, aside .agendasList .agendas .agenda:after {
  content: "";
  display: table;
}

aside .agendasList .agendas .agenda:after {
  clear: both;
}

aside .agendasList .agendas .agenda:nth-last-child(1) {
  border-bottom: 0;
}

aside .agendasList .agendas .agenda img {
  float: left;
  width: 80px;
  margin-right: 10px;
}

.about {
  text-align: center;
}

.about h2 {
  font-size: 4rem;
  padding: 40px;
}

.about .detailsAbout {
  padding: 0 190px;
}

.about .detailsAbout p {
  padding-bottom: 15px;
}

.about .detailsAbout p:nth-last-child(1) {
  padding-bottom: 100px;
}

footer {
  padding: 25px 0 17px 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #1F1F1F;
  color: #ffffff;
}

footer .container {
  font-weight: 300;
  font-size: 1.5rem;
}

footer .container p {
  float: left;
}

footer .container .pright {
  float: right;
}

/* ==========================================================================
    Responsive Navigation
   ========================================================================== */
@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-header {
    float: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-header .navbar-brand {
    padding: 10px 10px 65px 30px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-header .navbar-brand img {
    margin-top: 10px;
    display: block;
    width: 190px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-header .navbar-toggle {
    display: block;
    margin-top: 20px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-collapse {
    border-top: 1px solid #ffffff;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-collapse .navbarButton {
    margin: 15px 30px 20px 50px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .container .navbar-collapse .navbarButton {
    margin: 0;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-collapse .navbarButton img {
    width: 75px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-collapse ul {
    float: left;
    padding-top: 5px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-collapse ul li {
    float: none;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-collapse ul li a {
    padding: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-default .container .navbar-collapse ul li a {
    padding-left: 45px;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .navbar-collapse.collapse {
    display: none !important;
  }
}

@media screen and (max-width: 991px) {
  .navbar-default .container .collapse.in {
    display: block !important;
  }
}

/* ==========================================================================
    Responsive Hero
   ========================================================================== */
@media screen and (max-width: 991px) {
  .hero .container .col-md-6 {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 1199px) {
  .hero .container p {
    margin-top: 30px;
  }
}

/* ==========================================================================
    Responsive moreProgrammersList
   ========================================================================== */
@media screen and (max-width: 991px) {
  .moreProgrammersList figure img {
    max-width: 300px;
    margin-bottom: 35px;
  }
}

/* ==========================================================================
    Responsive portfoliosList
   ========================================================================== */
@media screen and (max-width: 991px) {
  .portfoliosList {
    width: 100%;
  }
}

/* ==========================================================================
     Responsive Aside
  ========================================================================== */
@media screen and (max-width: 991px) {
  aside {
    width: 100%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  aside .agendasList .agenda img {
    visibility: hidden;
    float: none;
    position: absolute;
    top: 0;
  }
}

@media screen and (max-width: 991px) {
  aside .agendasList .agenda img {
    visibility: visible;
    float: left;
    position: relative;
  }
}

@media screen and (max-width: 1199px) {
  aside .agendasList .agenda p {
    padding: 0;
    float: left;
  }
}

@media screen and (max-width: 991px) {
  aside .agendasList .agenda p {
    padding: 0;
    float: none;
  }
}

/* ==========================================================================
    Responsive address
   ========================================================================== */
@media screen and (max-width: 767px) {
  .address .col-sm-6:nth-last-child(1) {
    margin-top: 40px;
  }
}

/* ==========================================================================
    Responsive about
   ========================================================================== */
@media screen and (max-width: 1199px) {
  .about .detailsAbout {
    padding: 0 110px;
  }
}

@media screen and (max-width: 767px) {
  .about .detailsAbout {
    padding: 0 80px;
  }
}

@media screen and (max-width: 480px) {
  .about .detailsAbout {
    padding: 0 50px;
  }
}

/* ==========================================================================
    Responsive footer
   ========================================================================== */
@media screen and (max-width: 767px) {
  footer .container p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 767px) {
  footer .container p:nth-child(1) {
    padding-right: 120px;
  }
}

@media screen and (max-width: 480px) {
  footer .container p:nth-child(1) {
    padding-right: 50px;
  }
}
