@mixin bgimg($image, $bgpos: center center, $bgsize: auto) {
  background: url($image);
  background-repeat: no-repeat;
  background-position: $bgpos;
  background-size: $bgsize;
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
