$white:         #ffffff;
$smoke:         #f7f7f7;
$red:           #cb2222;
$green:         #34a853;
$lightgreen:    #39b346;
$blue:          #0088CC;
$ligtblue:      #5aaef5;
$yellow:        #fbbc05;
$lightyellow:   #f5f659;
$orange:        #e67e22;
$lightorange:   #f38d60;
$black:         #1F1F1F;
