$white:         #ffffff;
$smoke:         #f7f7f7;
$red:           #cb2222;
$green:         #34a853;
$blue:          #0088CC;
$black:         #1F1F1F;

$font-header : "Raleway", sans-serif;
$font-primary : "Roboto", sans-serif;

$xsmall: 480px;
$small: 767px;
$medium: 991px;
$large: 1199px;
