@import url("https://fonts.googleapis.com/css?family=Poppins:300,400|Raleway:100,300,400|Roboto:100,300,400");

body {
  width: 100%;
  background: $smoke;
}

h2 {
  margin: 0;
}

img {
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

.title {
  width: 100%;
}
